.mainMenu {
  align-items: center;
  color: var(--color-border-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0.8;
  text-transform: uppercase;
  width: 60%;
}

.mainMenu a:global(.active) {
  color: var(--color-text-main);
}

@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  .mainMenu {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
