.mainMenu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-transform: uppercase;
  width: 60%;
}
li {
  border-bottom: 1px solid var(--color-border);
  margin: 0 1rem;
  padding: 0 1rem;
}
