.mainMenu {
  align-items: center;
  color: var(--color-border-white);
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0.8;
  padding-top: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 16px rgb(255, 200, 0);
  width: 60%;
}

.mainMenu a:global(.active) {
  color: var(--color-text-main);
}

@media only screen and (max-width: 480px) {
  /* CSS rules specific for extra small screens */
  .mainMenu {
    justify-content: center;
    font-size: 0.8rem;
    gap: 8px;
    margin-top: 12px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* CSS rules specific for extra small screens */
  .mainMenu {
    font-size: 0.8rem;
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
    padding: 8px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules specific for extra small screens */
  .mainMenu {
    font-size: 1rem;
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* CSS rules specific for extra small screens */
  .mainMenu {
    gap: 32px;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
