.filterByGroup {
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  button {
    background: none;
    border: solid 1px var(--color-border);
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: lowercase;
    padding: 0.25rem;
  }
}

.filterByGroup a:global(.active) {
  color: var(--color-text-main);
  /*   font-weight: 700; */
}
