.recipeMainPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
}

.title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 30px rgb(198, 196, 196);
}

.imgWrapper {
  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;
  width: 400px;
}
.image {
  border: solid 3px var(--color-border-white);
  height: auto;
  width: 80%;
}

.valuesWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8px;
}
.value {
  padding: 0 4px;
}
