.recipeMainPage {
  align-items: center;
  border: solid 1px var(--color-border);
  box-shadow: 2px -2px 2px var(--color-border);
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-around;
  width: 320px;
}

.title {
  text-align: center;
}

.buttons {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 90%;
}

.imgWrapper {

  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;
  width: 240px;
}
.image {
  border: solid 3px var(--color-border-white);
    height: auto;
    width: 80%;
  }
  
  .valuesWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8px;
}
.value {
  padding: 0 4px;
}

