.topBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: center;
  margin: 1.5rem auto;
  margin-left: 12rem;
  position: relative;
  text-shadow: 2px 2px 30px rgb(198, 196, 196);
  width: 60%;
}
