.topBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  margin: 1.5rem auto;
  position: relative;
  text-shadow: 2px 2px 30px rgb(198, 196, 196);
  text-transform: uppercase;
  width: 84%;
}

.topBarCenter {
  display: flex;
  flex-direction: row;
}

.corner {
  font-size: 1.2em;
  opacity: 0.8;
}

.imgContainer {
  align-items: center;
  background-color: var(--color-main);
  border: solid 2px silver;
  border-radius: 90px;
  display: flex;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  width: 90px;
}

@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  .topBar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .topBarCenter {
    order: 0;
    width: 80%;
  }

  .corner {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    opacity: 0.8;
    order: 1;
    padding: 0 8px;
  }

  .imgContainer {
    align-items: center;
    background-color: var(--color-main);
    border: solid 2px silver;
    border-radius: 60px;
    display: flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    width: 80px;
  }
}
