.dailyMenuButton {
  background: none;
  border: solid 1px var(--color-border-gold);
  box-shadow: 1px -1px 1px var(--color-border);
  color: var(--color-text-main);
  cursor: pointer;
  height: 30px;
  padding: 4px;
}
