.expandableMenu {
  color: var(--color-text-main);

  ul {
    padding: 0.5rem;

    a {
      color: var(--color-text-main);
      font-weight: 300;
    }
  }
}

.arrowIcon {
  margin-left: 0.5rem;
  max-width: 1rem;
}

.expandableMenu a:global(.active) {
  color: var(--color-text-white);
  /*   font-weight: 700; */
}

.expanded {
  transform: rotate(180deg);
}
