body {
  --font-size-default: 16px;
  --font-family-default: Helvetica, Arial, sens-serif;

  --color-theme-main: rgb(36, 30, 30);
  --color-border: rgb(59, 59, 195);
  --color-text-main: rgb(239, 237, 233);
}
