.logoIcon {
  /*     background-color: var(--color-border); */
  border-radius: 12px;
  height: 72px;
  width: 72px;
}

@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  .logoIcon {
    height: 40px;
    width: 40px;
  }
}
