.contentWrapper {
  min-height: 70vh;
  width: 100%;
  max-width: 100rem;
}

@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
}
