.allRecipes::-webkit-scrollbar {
  background-color: rgb(52, 50, 50);
  border-radius: 12px;
  width: 8px;
}

.allRecipes::-webkit-scrollbar-thumb {
  background-color: var(--color-text-main);
  border-radius: 12px;
}

.allRecipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 480px;
  margin-top: 1rem;
  width: 98%;
}
