.allRecipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 480px;
  margin-top: 3rem;
  width: 90%;
}

.recipesFilter {
  align-items: center;
  border: solid 1px var(--color-border);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 460px;
  margin-left: 2rem;
  padding: 0.5rem;
  width: 360px;
}
