.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 20px 20px;
}

.input {
  border: solid 3px var(--color-text-main);
  border-radius: 8px;
  background-color: transparent;
  color: var(--color-header);
  width: 300px;
}

.label {
  color: var(--color-header);
  margin-bottom: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  .form {
    padding: 0;
  }
}
